/ui_py/__pycache__
/src/ADB_GUI_*.exe.spec
.idea/
ADB_python.zip
ADB_python/
CastScreen-master/
__pycache__/
adb_package.zip
adb_package/
apks/
driver/
exampleTest/170725_111508_SM-N910K_5.1.1_API_22.mp4
exampleTest/170725_134312_SM-G925S_6.0.1_API_23.png
exampleTest/__pycache__/
exampleTest/altools.png
exampleTest/ffmpeg_test.mp4
exampleTest/movie_360p.gif
exampleTest/movie_360p.mp4
exampleTest/movie_360p_240_tmp.gif
exampleTest/movie_360p_320X240.gif
exampleTest/movie_360p_320_tmp.gif
exampleTest/resize.mp4
exampleTest/test.gif
exampleTest/test2.gif
ffmpeg-20170918-18821e3-win64-static.zip
ffmpeg-20170918-18821e3-win64-static/
screenshot/
src/170808/
src/170810/
src/170817/
src/170823/
src/170824/
src/170919/
src/170921/
src/4.0.16.1.apk
src/__pycache__/
src/build/
src/dist/
src/test.png
test170707.txt
ui_py/capture_ui_old.py
/adb/
/sdk_info/
/src/171130/
/src/171207/
/src/171204/
/src/171129/
/src/171115/
/src/171116/
/src/171114/
/src/171213/
/src/171201/
